<div class="card" style="width: 18rem;">
    <AuthorizeView Roles="Admin, BoardAdmin">
        <Authorized>
            <div class="float-right">
                <button @onclick="Delete" class="close" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
        </Authorized>
    </AuthorizeView>
    <div class="card-body">
        <label for="title">Title:</label>
        <h5 id="title" class="card-title">@CardModel.CardModel.Title</h5
        <label for="text">Text:</label>
        <p id="text" class="card-text">@CardModel.CardModel.Text</p>
        
        <label for="tag">Tag:</label>
        <div id="tag">
            <Survey.Client.Pages.App.Util.TagShower Tags="@CardModel.CardModel.Tags.Select(x=>x.TagText).ToList()"
                                                NavigateCommand="NavigateCommand" />
        </div>
        <label for="rating">Rating:</label>
        <div id=rating>
        <RadzenRating Stars="7" Change=@(args => OnChange.InvokeAsync((args,null,CardModel.CardModel)))
                          Value="@(CardModel.RatingValue ?? 0)" />
        </div>
        <button type="button" class="btn btn-primary" @onclick="test">
            <i style="@myStyle" class="fas fa-smile fa-2x"></i>
        </button>

    </div>

    <label for="comment">Comment:</label>
    <div id="comment "class="d-flex justify-content-center">
        <EditForm Model="ReplyModel" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i></button>
            </div>
            <InputText @bind-Value="@ReplyModel.Text" class="form-control" id="cardModel.Title"></InputText>
            <ValidationMessage For="@(() => ReplyModel.Text)" />
            <ReplyPage Replies="@(CardModel.CardModel.Replies)" AddReply="OnAddReply"></ReplyPage>

        </EditForm>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
    </div>
</div>


