@using Microsoft.AspNetCore.Authorization
@using Survey.Client.Auth
@using Survey.Shared.Model
@using Survey.Shared.Model.Comment
@using Survey.Shared.DTOs

@using System.Linq

@using Survey.Client.Pages.Auth
@attribute [Authorize]
@if (ExpTime != null)
{
    @if (0 >= DateTime.Compare(ExpTime ?? DateTime.Now, DateTime.Now))
    {
        <h1>Voting time is over</h1>
    }
    else
    {
        <div class="container">
            <div class="row">
                 <div class="col-sm-3"></div>
                 <div class="col-sm-6">
                    <AuthorizeView Roles="Admin, BoardAdmin">
                        <a @onclick="@(() => {navigationManager.NavigateTo(Constants.FRONTEND_URL.ADD_BOARDFILLERS + "/" + Guid);})" class="btn btn-info" role="button">Add Board filler user</a>
                    </AuthorizeView>
                </div>
            </div>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-sm-6 align-self-center">
                            <Survey.Client.Pages.App.Card.CardForm cardModel="@cardModel" OnValidSubmit="@Create"
                                                           Tags="@(Tags)"
                                                           SearchMethod="SearchMethod" />
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    @foreach (var cardItem in CardList ?? Enumerable.Empty<CardRatingDto>())
                    {
                        <div class="col-sm-2">
                            <div class="card" style="width: 18rem;">
                                    <CardSimple OnDelete="@(OnDelete)"
                                    OnChange="@((args) => UpdateCardRating(((int?, bool?,CardModel))args))"
                                    CardModel="cardItem"
                                    AddReply="@((args) => AddReply(((string, IRepliable))args))"
                                    NavigateCommand="NavigateCommand"></CardSimple>
                            </div>
                        </div>
                    }
                </div>
            </Authorized>
        </AuthorizeView>
    }
}

@code {
    [Parameter]
    public IList<string> Tags { get; set; } = new List<string>();
}



